*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(360deg,rgba(22, 25, 37, 1) 0%, rgba(35, 57, 91, 1) 53%, rgba(64, 110, 142, 1) 99%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR */
.container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

/* FORMULARIO */
.login-box {
    background-color: #e3fff8; 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
    color: #23395B;
}

/* TÍTULO */
.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #23395B;
}

/* LABELS */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

/* INPUTS */
input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;

    border: 2px solid #406E8E; 
    background-color: #c8e3ff; 
    color: #161925;
    border-radius: 12px;

    font-size: 15px;
}

/* PLACEHOLDER */
input::placeholder {
    color: #23395B;
    opacity: 0.8;
}

/* BOTÓN */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    font-weight: bold;

    background-color: #406E8E; 
    color: white;
    cursor: pointer;

    transition: 0.25s;
}

/* HOVER BOTÓN */
button:hover {
    background-color: #8EA8C3; 
    color: #161925;
}
